/* 
    Document   : alt
    Created on : 03.05.2014, 11:23:38
    Author     : Администратор
    Description:
        Purpose of the stylesheet follows.
*/


.horizontal-menu-hr {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
  background: none;
  border: none;
  background-color: none;
}

.alt-right {
    float: right;
}
.fmenuc{
    overflow: hidden;
    float: left;
    width: 25%;
}
.footer-nav ul{
    margin: 0;
    padding: 0;
}
.footer-nav ul li{
    list-style: none;    
}
ul.nav.navbar-nav li.active div.adminBtn{
    float: left;
}
.fmenuc nav.footer-nav ul li div.adminBtn{
    float: right;
    margin-right: 50px;
}
.lastNews div div.adminBtn{
    float: left;
    width: 20px;
}
.lastNews .col-sm-6.col-md-4 div.thumbnail div.caption h3 div.adminBtn{    
    float: right;
    width: 50px;
}
.lastBlog div div.adminBtn{
    float: left;
    width: 20px;
}
.lastBlog .col-sm-6.col-md-4 div.thumbnail div.caption h3 div.adminBtn{    
    float: right;
    width: 50px;
}
.contact-form h3 div.adminBtn{
    float: left;
}
.container div.carousel-caption div.adminBtn {
    background-color: #fff;
    width: 100px;
    margin: 0 auto;
}
.footer-nav h4 div.adminBtn{
    float: left;
}
.map h3 div.adminBtn{
    float: left;
}