.pagination{

}
ul.pagination li {
    display: inline-table;
    padding: 10px;
    text-align: center;    
}
ul.pagination li:hover {
    background-color: #FFF;
    color: #e85356;
}

ul.pagination li a:hover {
    background-color: #FFF;
    color: #e85356;
}


ul.pagination li.active {
    background-color: #FFF;
}
.media-body{
    overflow: hidden;
    padding-left: 10px;
}
.media-body h3 {
    margin: 0;
}
.btn-1 {
    color: #ffffff;
    background: #e85356;
    padding: 5px 14px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    text-shadow: none;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.btn-1:hover {
    color: #1a1a1a;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-decoration: none;
    background: #ffffff;
}
.media-body p {
    padding-left: 0px;
}
.row div.col-xs-6.col-md-3 {
    width: 200px;
    float: left;
    margin: 3px;
}
.gallery-block{
    margin: 15px;
}
.span3 ul.footer-links{
    list-style: none;
    margin: 0;
    padding: 0;
}
.span3 ul.footer-links li{
    list-style: none;
    margin: 0;
    padding: 0;
}
ul.nav.pull-right li.current-page div.adminBtn{
    background: none!important;
    
}   
ul.nav.pull-right li.current-page div.adminBtn small a{
    border: none;
    float: right;
}
ul.nav.pull-right li div.adminBtn{
    background: none!important;
    
}   
ul.nav.pull-right li div.adminBtn small a{
    border: none;
    float: right;
}
.footer-links li div.adminBtn{
    float: right;    
    margin-right: 30px;
}
ul.footer-links li{
    margin: 1px!important;
}